body{font-family: Arial, Verdana, sans-serif;font-size: 12px;background-color: #FFFFFF;}

.editMode{margin:5px;padding:0px;overflow-y:auto;}
.editMode table:not([border]){border-collapse:collapse;border:1px dotted #d3d3d3;}
.editMode table:not([border]) th,.editMode table:not([border]) td{border:1px dotted #d3d3d3;}
.editMode embed{display:inline-block;border:1px dashed #FF4E4E;}
.editMode embed[type="application/x-shockwave-flash"]{background:url(img/flash.gif) center center no-repeat;}
.editMode embed[type="application/x-mplayer2"]{background:url(img/wmp.gif) center center no-repeat;}

.sourceMode{margin:0px;padding:0px;overflow:hidden;}
.sourceMode textarea{border:0px;margin:0px;padding:0px;width:100%;height:100%;overflow-y:auto;}

.previewMode{margin:5px;padding:0px;}

.showBlocktag p,.showBlocktag h1,.showBlocktag h2,.showBlocktag h3,.showBlocktag h4,.showBlocktag h5,.showBlocktag h6,.showBlocktag pre,.showBlocktag address,.showBlocktag div{padding-top:8px;background:none no-repeat scroll 2px 2px;border:1px dotted gray;}
.showBlocktag p{background-image:url(img/tag-p.png);}
.showBlocktag h1{background-image:url(img/tag-h1.png);}
.showBlocktag h2{background-image:url(img/tag-h2.png);}
.showBlocktag h3{background-image:url(img/tag-h3.png);}
.showBlocktag h4{background-image:url(img/tag-h4.png);}
.showBlocktag h5{background-image:url(img/tag-h5.png);}
.showBlocktag h6{background-image:url(img/tag-h6.png);}
.showBlocktag pre{background-image:url(img/tag-pre.png);}
.showBlocktag address{background-image:url(img/tag-address.png);}
.showBlocktag div{background-image:url(img/tag-div.png);}