.xhEdt_o2007blue table, .xhEdt_o2007blue tr, .xhEdt_o2007blue td, .xhEdt_o2007blue iframe {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; color:#000}

.xhEdt_o2007blue table.xhEdtLayout {display:inline-table;background:#E5EFFD; border:1px solid #ABC6DD;width:100%;height:100%;}
.xhEdt_o2007blue td.xhEdtTool {border-bottom:1px solid #ABC6DD;padding:2px;}

.xhEdt_o2007blue span.xhEdtGStart{display:block;margin-left:2px;background:url(img/buttonbg.png) -22px 0;width:1px; height:22px;}
.xhEdt_o2007blue span.xhEdtGEnd{display:block;background:url(img/buttonbg.png) -22px 0;width:1px; height:22px;}
.xhEdt_o2007blue span.xhEdtSeparator {display:block;height:20px;width:4px;margin:0 2px}

.xhEdt_o2007blue a.xhEdtButton{display:block;margin:1px 0px;padding:1px;border:0px;background:url(img/buttonbg.png);width:20px; height:20px;}
.xhEdt_o2007blue a.xhEdtButton span{opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30);}
.xhEdt_o2007blue a.xhEdtEnabled span{opacity:1; -ms-filter:'alpha(opacity=100)'; filter:alpha(opacity=100)}
.xhEdt_o2007blue a.xhEdtEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.xhEdt_o2007blue a.xhEdtActive{background-color:#B2BBD0; background-position:0 -22px;}

.xhEdt_o2007blue span.xhEdtIcon{display:block;height:20px;width:20px;background:url(img/icons.gif) no-repeat 20px 20px}

.xhEdt_o2007blue span.xhEdtBtnCut {background-position:0 0}
.xhEdt_o2007blue span.xhEdtBtnCopy {background-position:-20px 0}
.xhEdt_o2007blue span.xhEdtBtnPaste {background-position:-40px 0}
.xhEdt_o2007blue span.xhEdtBtnPastetext {background-position:-60px 0}
.xhEdt_o2007blue span.xhEdtBtnBlocktag {background-position:-80px 0}
.xhEdt_o2007blue span.xhEdtBtnFontface {background-position:-100px 0}
.xhEdt_o2007blue span.xhEdtBtnFontSize {background-position:-120px 0}
.xhEdt_o2007blue span.xhEdtBtnBold {background-position:-140px 0}
.xhEdt_o2007blue span.xhEdtBtnItalic {background-position:-160px 0}
.xhEdt_o2007blue span.xhEdtBtnUnderline {background-position:-180px 0}
.xhEdt_o2007blue span.xhEdtBtnStrikethrough {background-position:-200px 0}
.xhEdt_o2007blue span.xhEdtBtnFontColor {background-position:-220px 0}
.xhEdt_o2007blue span.xhEdtBtnBackColor {background-position:-240px 0}
.xhEdt_o2007blue span.xhEdtBtnRemoveformat {background-position:-260px 0}

.xhEdt_o2007blue span.xhEdtBtnAlign {background-position:-280px 0}
.xhEdt_o2007blue span.xhEdtBtnList {background-position:-300px 0}
.xhEdt_o2007blue span.xhEdtBtnOutdent {background-position:-320px 0}
.xhEdt_o2007blue span.xhEdtBtnIndent {background-position:-340px 0}

.xhEdt_o2007blue span.xhEdtBtnLink {background-position:-360px 0}
.xhEdt_o2007blue span.xhEdtBtnUnlink {background-position:-380px 0}
.xhEdt_o2007blue span.xhEdtBtnImg {background-position:-400px 0}
.xhEdt_o2007blue span.xhEdtBtnFlash {background-position:-420px 0}
.xhEdt_o2007blue span.xhEdtBtnMedia {background-position:-440px 0}
.xhEdt_o2007blue span.xhEdtBtnEmot {background-position:-460px 0}
.xhEdt_o2007blue span.xhEdtBtnTable {background-position:-480px 0}

.xhEdt_o2007blue span.xhEdtBtnSource {background-position:-500px 0}
.xhEdt_o2007blue span.xhEdtBtnPreview {background-position:-520px 0}
.xhEdt_o2007blue span.xhEdtBtnFullscreen {background-position:-540px 0}

.xhEdt_o2007blue span.xhEdtBtnAbout {background-position:-560px 0}

.xhEdt_o2007blue .xhEdtIframeArea{height:100%;}
.xhEdt_o2007blue iframe {display:block;background:#fff;width:100%;height:100%;}

.xhEdt_Fullfix{overflow:hidden;}
.xhEdt_Fullfix body{margin:0px;padding:0px;width:100%;height:100%;}
.xhEdt_Fullscreen{top:0px;left:0px;position:fixed;z-index:999999;width:100%;height:100%;background:#fff;}
* html .xhEdt_Fullscreen{position: absolute;_top:expression((document.compatMode?documentElement.scrollTop:document.body.scrollTop)+'px');height: expression((document.compatMode?documentElement.offsetHeight:document.body.offsetHeight) + 'px');}

#xhEdtPanel{display:none;position:absolute;z-index:1000000;border:#ABC6DD 1px solid;background:#FDFEFF;text-align:left;}
#xhEdtCntLine{display:none;position:absolute;z-index:-1;}

.xhEdtMenu{padding:2px;overflow-x:hidden;overflow-y:auto;max-height:230px;}
.xhEdtMenu a{display:block;padding:3px 20px 3px 3px;font-size:12px;color:#000;text-decoration:none;white-space:nowrap;}
.xhEdtMenu a:hover{background:#e5e5e5;text-decoration:none;color:#000;}
.xhEdtMenu p,.xhEdtMenu h1,.xhEdtMenu h2,.xhEdtMenu h3,.xhEdtMenu h4,.xhEdtMenu h5,.xhEdtMenu h6,.xhEdtMenu pre,.xhEdtMenu address,.xhEdtMenu div{margin:0}

.xhEdtEmot{padding:5px;}
.xhEdtEmot img{border:0px}
.xhEdtEmot a{display:inline-block;margin:1px;padding:5px;	background:#F8F8F8;	border:#DFDFDF 1px solid;	width:23px;	text-align:center;}
.xhEdtEmot a:hover{border:#999 1px solid;}

.xhEdtColor{padding:5px;}
.xhEdtColor a{display:inline-block;margin:1px;border:#999 1px solid;width:12px;height:10px;}
.xhEdtColor a:hover{border:#000 1px solid;}
.xhEdtColor a img{display:none;}

.xhEdtDialog{padding:10px;font-size:12px;}
.xhEdtDialog a{text-decoration:underline;color:#00f;}
.xhEdtDialog a:hover{text-decoration:underline;color:#00f}
.xhEdtDialog div{padding:2px 0px;}
.xhEdtDialog input[type=text]{width:150px;height:16px;font-size:12px;border:1px #ABADB3 solid;}
.xhEdtDialog input[type=button]{width:40px;border-width:1px;background:#F0F0F0;cursor:pointer;}
.xhEdtDialog .upload{position: relative;display:inline-block;}
.xhEdtDialog .upload .text {position: absolute;width:107px;top: 0px;left: 0px;z-index: 3;}
.xhEdtDialog .upload .btn{position: absolute;top: 0px;left: 112px;width:40px;z-index: 1;}
.xhEdtDialog .upload .file {cursor:pointer;position: absolute;top: 0px;left: 0px;width:152px;opacity:0;-ms-filter:'alpha(opacity=0)';filter:alpha(opacity=0);z-index: 2;}

.xhEdtUploadIO{position:absolute;top:-1000px;left:-1000px;}
.xhEdtUploadForm{position:absolute;top:-1200px;left:-1200px;}