<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean name="/user/userlist"
		class="com.fordays.fdpay.user.action.UserListAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>
	<bean name="/user/user"
		class="com.fordays.fdpay.user.action.UserAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
		<property name="rightBiz">
			<ref bean="rightBiz" />
		</property>
		<property name="drawBiz">
			<ref bean="drawBiz" />
		</property>
		<property name="loginlogBiz">
			<ref bean="loginlogBiz" />
		</property>
		<property name="certificationBiz">
			<ref bean="certificationBiz" />
		</property>
		<property name="needCertfication">
			<value>false</value>
		</property>
	</bean>
	<bean name="loginlogBiz"
		class="com.fordays.fdpay.system.biz.LoginLogBizImpl" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="loginlogDao">
			<ref bean="loginlogDao" />
		</property>
	</bean>
	<bean id="loginlogDao"
		class="com.fordays.fdpay.system.dao.LoginLogDAOImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="userBiz" class="com.fordays.fdpay.user.biz.UserBizImp">
		<property name="transactionManager" ref="transactionManager" />
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
		<property name="sysLogDAO">
			<ref bean="sysLogDAO" />
		</property>
	</bean>

	<bean id="userDAO" class="com.fordays.fdpay.user.dao.UserDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


</beans>